@{
  ViewData["Title"] = $"Edit {Model.City}";
}

@model TravelClient.Models.Destination

<h4>Edit @Model.City</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DestinationId)
  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City, new { @Value = Model.City})
  <br>
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country, new { @Value = Model.Country})
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new { Value = Model.Rating})
  <br>
  @Html.LabelFor(model => model.Review)
  @Html.TextBoxFor(model => model.Review, new { Value = Model.Review})
  <br>
  <br>
  <input type="submit" value="Edit animal" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.DestinationId})</p>