@{
    ViewData["Title"] = "Destinations";
}


<h1>All Destinations</h1>

<h3>Actions:</h3>
<p>@Html.ActionLink("Add a new destination", "Create")</p>

<div class="row">
    @foreach (Destination destination in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@destination.City</h5>
                    <p class="card-text">@destination.Country</p>
                    <a href="/Destinations/Details/@(destination.DestinationId)" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }

</div>
<div class="row">
    <div class="col">
        <ul class="pagination">
             @for (int i = 1; i <= ViewBag.PageSize; i++)
            
            {
                <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="/Destinations?pageNumber=@i&pageCount=@ViewBag.PageCount">@i</a>
                </li>
            } 
        </ul>
    </div>
</div>